body * {
  font-size: large;
}

.lotr-list {
  width: 50%;
  list-style: none;
}

.lotr-list > li {
  margin-bottom: 10px;
}

.lotr-list > li:not(:first-child) {
  display: flex;
  height: 350px;
  border: 1px solid;
  border-radius: 10px;
}

.lotr-list > li > ul {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lotr-list > li > img {
  max-width: 250px;
  flex: 1;
  border-radius: 0 10px 10px 0;
}

